.venv/
.vscode/
contract_summary_217/
demo_217/
demo_markdowns/
pymupdf_markdowns/

.env
__pycache__/
query_results/
qdrant_local/collection/hotel_contracts/storage.sqlite
reports/*.xlsx

# Qdrant local database
qdrant_local/
*.sqlite